.carousel-inner  .item . img{
margin:auto;
border:2px black;
}
.a{
hover:pink;
}
/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}




#home_leftsection{
	float:left;
	width:60%;
	text-align:leftwards;
	margin-left:0px;
	padding-right:300px;

}

#home_rightsection{
	float:right;
	width:40%;
	overflow:hidden;
	padding-top:0px;
	
}
#home_total{
		background-color:steelblue;
        color:white;
        overflow:hidden;
		
		padding-left:50px;
}

#home_bottom{
	background-color:green;
	color:white;
	text-align:center;
	margin-top:0px;
	padding:5px;
}
nav{
background-color:green;
}
.dropdown-toggle {
  background-color: blue;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: pink;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {background-color: red}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown:hover .dropdown-toggle {
  background-color: blue;
}

	
